<div class="container">
  <div class="row">
    <div class="col">
      <div id="games">
        <u>Games:</u>
        <% if @games.count == 0 %>
          <p>Sorry, no games yet.<p>
        <% else %>
          <%= render @games, new: false %>
        <% end %>
      </div>
      <%= render partial: 'form' %>
    </div>

    <div class="col">
      <div id="users">
        <u>Users:</u>
        <%= render @users %>
      </div>
    </div>
  </div>
</div>
