<h1>You can move up to <%= @eligible_regions.count %> pieces.</h1>
<%= button_to "Finished", maneuver_destination_game_path, params: { next_turn: true }, class: "btn btn-primary" %>
<%= render :partial => "svg/board", locals: { factories: @factories, regions: @eligible_regions, game: @game.id, pieces: @pieces, turn: 'maneuver', import_count: nil, origin_region: nil, flags: @flags } %>
