<h1>Where would you like to move your pieces?</h1>
<%= render :partial => "svg/board", locals: { factories: @factories, regions: @eligible_regions, game: @game.id, pieces: @pieces, turn: 'maneuver', import_count: nil, origin_region: nil } %>
