<div class="row">
  <div class="col">
    <div id="pre_games">
      <u>Games:</u>
      <% if @pre_games.count == 0 %>
        <p class="sorry">Sorry, no joinable games yet.</p>
      <% else %>
        <% @pre_games.each do |game| %>
          <%= render game, new: false, game: game, investor: Game.where(pre_game_id: game.id)[0].investors.find_by(user: current_user) %>
        <% end %>
      <% end %>
    </div>
    <%= render partial: 'form' %>
  </div>

  <div class="col">
    <div id="users">
      <u>Users:</u>
      <%= render @users %>
    </div>
  </div>
</div>
