<div class="row">
  <div class="col">
    <div id="pre_games">
      <u>Joinable Games:</u>
      <% if @joinable_games.count == 0 %>
        <p class="sorry">Sorry, no joinable games.</p>
      <% else %>
        <% @joinable__games.each do |game| %>
          <%= render game, new: false, game: game %>
        <% end %>
      <% end %>
    </div>
    <div id="in-progress-games">
      <u>In-progress Games:</u>
      <% if @games.count == 0 %>
        <p class="sorry">Sorry, no in-progress games.</p>
      <% else %>
        <% @games.each do |game| %>
          <%= render game, new: false, game: game %>
        <% end %>
      <% end %>
    </div>
    <%= render partial: 'form' %>
  </div>

  <div class="col">
    <div id="users">
      <u>Users:</u>
      <%= render @users %>
    </div>
  </div>
</div>
