<div class="container">
  <u>Users in the game</u>
  <% @pre_game.users.each do |user| %>
    <%= user.username %>
  <% end %>
  <% if @start_enabled %>
    <%= button_to "Start Game", @pre_game, :method => :delete %>
  <% end %>
</div>
