.marker {
  border-radius: 50%;
  display: inline-block;
  width: 1em;
  height: 1.2em;
  line-height: 1;
  text-align: center;
}

.piece {
  color: red;
  border: red solid 1px;
}

.factory {
  color: brown;
  border: brown solid 1px;
}

#users {
  .online {
    color: green;
    font-weight: 900;
  }
}

.toggle-game {
  text-transform: uppercase;
  font-size: 9px;
  vertical-align: middle;
  padding: 2px;

  &.join {
    border: 1px green solid;
    color: green;
  }

  &.leave {
    border: 1px red solid;
    color: red;
  }
}

.your-countries {
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  width: 35%;
  padding: 10px;
  margin: 30px auto;
  background-color: $light-blue;
  border: 5px $dark-blue solid;
  color: white;
  
  .header {
    text-align: center;
    font-size: 26px;
    border-bottom: 1px $dark-blue solid;
    margin: 20px 0;
    padding: 0 0 20px 0;
  }

  .country {
    width: 100%;
  }

  svg {
    height: 1.5em;
    width: 2em;
    display: block;
    margin: 0 auto;
  }
}

.meeple {
  width: 15px;
}
