.map-display {
  .map {
    display: flex;
    align-items: flex-start;
    flex-flow: row nowrap;

    .power-track {
      display: flex;
      flex-flow: column nowrap;
      margin: 0 20px;

      .level {
        font-size: 20px;
        border: 1px solid black;
        padding: 20px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        svg {
          height: 1em;
          width: 1.5em;
          display: block;
          margin: 0 auto;
        }

        &.header {
          font-size: 14px;
          padding: 5px;
        }

        > div {
          padding: 0 10px;
        }
      }
    }
  }
  
  .scoring-track {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px;

    .score {
      border: 1px solid black;
      padding: 10px;

      svg {
        height: 1em;
        width: 1.5em;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

svg {
  width: 100%;
  &#board {
    height: auto;
  }
}

.marker {
  border-radius: 50%;
  display: inline-block;
  width: 1em;
  height: 1.2em;
  line-height: 1;
  text-align: center;
}

.piece {
  color: red;
  border: red solid 1px;
}

.factory {
  color: brown;
  border: brown solid 1px;
}

#users {
  .online {
    color: green;
    font-weight: 900;
  }
}

.toggle-game {
  text-transform: uppercase;
  font-size: 9px;
  vertical-align: middle;
  padding: 2px;

  &.join {
    border: 1px green solid;
    color: green;
  }

  &.leave {
    border: 1px red solid;
    color: red;
  }
}

.your-countries {
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  padding: 10px;
  margin: 30px auto;
  background-color: $light-blue;
  border: 5px $dark-blue solid;
  color: white;
  
  .header {
    text-align: center;
    font-size: 26px;
    margin: 20px 0;
    padding: 0 0 20px 0;
  }

  .country {
    justify-content: space-between;
    margin: 15px;
  }

  svg {
    height: 1.5em;
    width: 2em;
    display: block;
    margin: 0 auto;
  }
}

.meeple {
  display: inline-block;

  svg {
    height: 1.5em;
    width: 2em;
    display: block;
    margin: 0 auto;
  }
}

.step {
  margin: 15px;

  .meeple {
    width: 15px;
  }
}

.factory, .piece, .flag, .rondel-meeple {
  display: none;

  &.show {
    display: initial;
  }
}

svg path {
  &.glow-on-hover:hover {
    fill-opacity: 0.5;
  }

  &.three:hover {
    fill: deeppink !IMPORTANT;
    fill-opacity: 1;
  }

  &.two:hover {
    fill: firebrick !IMPORTANT;
    fill-opacity: 1;
  }

  &.one:hover {
    fill: lightpink !IMPORTANT;
    fill-opacity: 1;
  }
}

.rondel {
  height: 600px;
}

.bonds {
  display: flex;
  flex-flow: row wrap;

  .country-name {
    font-size: 24px;
  }

  .bond {
    border: 1px solid black;
    margin: 30px;
    padding: 15px;
  }
}

.log {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.investor-card {
  font-size: 40px;
  color: blue;
  background-color: pink;
  font-family: 'Cormorant Garamond', serif;
  border: 1px solid black;
}
