.marker {
  border-radius: 50%;
  display: inline-block;
  width: 1em;
  height: 1.2em;
  line-height: 1;
  text-align: center;
}

.piece {
  color: red;
  border: red solid 1px;
}

.factory {
  color: brown;
  border: brown solid 1px;
}

