a.header {
  font-family: 'Cormorant Garamond', serif;
  font-size: 40px;
  text-align: right;
  border-bottom: 1px black solid;
  padding-right: 100px;
  background-color: $light-blue;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;

  :hover {
    color: white;
  }

  .icon {
    height: 45px;
    margin-right: 10px;
  }
}
